body{
    background-image: url("./images/Red\ and\ Black\ Wallpaper\ -\ iXpap.jpg");
    background-repeat: no repeat;
    background-attachment: fixed;
    background-position: bottom ;
    opacity: 0.9;
}
h1{
    text-align: center;
    color: rgb(217, 40, 40);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 4px 4px 4px rgb(115, 13, 13) ;
    border: 2px solid rgb(233, 57, 57);
     border-radius: 9px ;
     margin: 100px 450px 100px 450px;
}
h3{
    color: rgb(225, 50, 50) ;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color:rgb(225, 24, 24);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h5{
    color: rgb(255, 0, 98);
}
iframe{
    background-color: rgb(199, 63, 63);
}